<!DOCTYPE html>
<html>
<head>
    <title><%= content_for?(:title) ? content_for(:title) : raw("&#198;scylus") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/lok2nlr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<%= render "layouts/nav" %>
<%= yield %>

</body>
</html>
